.hidden {
  display: none !important;
}

.container {
  width: 400px;
  margin: auto;
}

.row {
  display: flex;
}

.col-1-fifth {
  flex-basis: calc(100%/5);
}

.col-4-fifth {
  flex-basis: calc(400%/5);
}

.col-2 {
  flex-basis: 50%;
}

.wrap {
  flex-wrap: wrap;
}
